<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</head>

<body class="font-[Poppins] bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee] h-screen">
    <header class="bg-gray-400 h-20 ">
        <nav class="flex justify-between items-center w-[92%]  mx-auto py-4">
            <div>
                Ticket Management System
            </div>
            <div
                class="nav-links duration-500 md:static absolute bg-gray-400 text-white md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto  w-full flex items-center px-5">
                <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8 ">
                    <li>
                        <a class="hover:text-blue-600" href="/query_submit">Ask Query</a>
                    </li>
                    <li>
                        <a class="hover:text-blue-600" href="/ins">Instructor Dashboard</a>
                    </li>
                    <li>
                        <a class="hover:text-blue-600" href="/showfaq">FAQ</a>
                    </li>
                    <li>
                        <a class="hover:text-blue-600" href="/ins2">Resolve Query</a>
                    </li>
                    
                </ul>
            </div>
            <div class="flex items-center gap-6">
                <a href="/sign_in" class="bg-[#a6c1ee] text-white px-5 py-2 rounded-full hover:bg-[#87acec]">Sign in</a>
                <a href="/signup" class="bg-[#a6c1ee] text-white px-5 py-2 rounded-full hover:bg-[#87acec]">Sign up</a>
                    <ion-icon onclick="onToggleMenu(this)" name="menu" class="text-3xl cursor-pointer md:hidden"></ion-icon>
            </div>
    </header>


    <script>
        const navLinks = document.querySelector('.nav-links')
        function onToggleMenu(e){
            e.name = e.name === 'menu' ? 'close' : 'menu'
            navLinks.classList.toggle('top-[9%]')
        }
    </script>
    <p class="text-center text-lg text-9xl mt-24">Your recent query</p>
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
        <div class="flex  items-center justify-center my-4">
        
            <a href="#"
            class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">When will we get result of end term exam ?</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">Result will be updated soon</p>
            <div class="flex justify-between items-baseline">
                <button class="mt-4 bg-red-500 text-white py-2 px-6 rounded-lg">Delete</button>
                <button class="mt-4 bg-yellow-400 text-white py-2 px-6 rounded-lg">Update</button>
            </div>
        </a>
        </div>
        <div class="flex items-center justify-center my-4 ">
        
            <a href="#"
            class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">When will we get result of end term exam ?</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">Result will be updated soon</p>
            <div class="flex justify-between items-baseline">
                <button class="mt-4 bg-red-500 text-white py-2 px-6 rounded-lg">Delete</button>
                <button class="mt-4 bg-yellow-400 text-white py-2 px-6 rounded-lg">Update</button>
            </div>
        </a>
        </div>
        <div class="flex items-center justify-center my-4">
        
            <a href="#"
            class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">When will we get result of end term exam ?</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">Result will be updated soon</p>
            <div class="flex justify-between items-baseline">
                <button class="mt-4 bg-red-500 text-white py-2 px-6 rounded-lg">Delete</button>
                <button class="mt-4 bg-yellow-400 text-white py-2 px-6 rounded-lg">Update</button>
            </div>
        </a>
        </div>
        <div class="flex items-center justify-center my-4">
        
            <a href="#"
            class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">When will we get result of end term exam ?</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">Result will be updated soon</p>
            <div class="flex justify-between items-baseline">
                <button class="mt-4 bg-red-500 text-white py-2 px-6 rounded-lg">Delete</button>
                <button class="mt-4 bg-yellow-400 text-white py-2 px-6 rounded-lg">Update</button>
            </div>
        </a>
        </div>
    </div>
    
    
</body>

</html>