<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body>

    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
        <div class="flex  items-center justify-center my-4">
        
            <a href="#"
            class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">When will we get result of end term exam ?</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">Result will be updated soon</p>
            
        </a>
        </div>
        <div class="flex items-center justify-center my-4 ">
        
            <a href="#"
            class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">What is the weighted of project in final scoare in SE?</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">20 percent</p>
            
        </a>
        </div>
        <div class="flex items-center justify-center my-4">
        
            <a href="#"
            class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">When will we get our Hard copy Diploma level certificate?</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">In the paradox</p>
            
        </a>
        </div>
        <div class="flex items-center justify-center my-4">
        
            <a href="#"
            class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">How many company will be come to the placement drive?</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">You will get notified soon</p>
            
        </a>
        </div>
        <div class="flex items-center justify-center my-4">
        
            <a href="#"
            class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">When will the result of Viva will come?</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">After End term exam</p>
            
        </a>
        </div>
        <div class="flex items-center justify-center my-4">
        
            <a href="#"
            class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Will we get accomodation during paradox?</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">Yes but you have to pay for it</p>
            
        </a>
        </div>
    </div>


</body>

</html>